@font-face {
  font-family: "Space";
  src: url(FontdinerSwanky-Regular.ttf);
}
@font-face {
  font-family: "normal";
  src: url(ZenAntiqueSoft-Regular.ttf);
}

body {
  font-family: "Space";
  margin: 0;
  padding: 0;
  background-color: black;
  text-align: center;
}
h1 {
  font-family: "Space";
  color: rgb(0, 255, 85);
  font-size: 50px;
}
p {
  font-family: "normal";
  color: rgb(255, 255, 255);
  font-size: 20px;
}

canvas {
  /* display: block; */
  padding: 20px;
}
